/* Teal color #4AAAA5 */
/* Nav text color #979798 */
/* Nav text darker color #737374 */
/* Footer color #666666 */
/* Footer text color #6B737B */

/* formatting for About/Index Page Only */

#profile-pic {
    float: left;
    max-width: 15em;
    margin-right: 1em;
    margin-bottom: 0.5em;
}
