/* Formatting for Contact Page Only */
.btn {
    background-color: #4aaaa5;
    border-color: #4aaaa5;
    border-radius: 0;
    padding: 1em 2em 1em 2em; 
    margin-bottom: 2em;
}
.btn:hover {
    color: #4aaaa5;
    background-color: white;
}