/* Teal color #4AAAA5 */
/* Nav text color #979798 */
/* Nav text darker color #737374 */
/* Footer color #666666 */
/* Footer text color #6B737B */


/* All Pages Formatting */
body {
    background-image: url("background.png");
    background-position: top left;
    background-repeat: repeat-x repeat-y;
}
#name {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: #4AAAA5;
    font-size: 2em;
    font-weight: 600;
    padding: .25em;
}
section {
    background-color: white;
    margin-top: 6em;
    margin-bottom: 6em;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #4AAAA5;
    font-size: 3em;
    font-weight: 600;
    padding-top: 0.25em;
}
footer {
    background-color: #666666;
    height: 4em;
    text-align: center;
    padding: 1em 0em 1em 0em;
    border-top-width: 0.5em;
    border-top-color: #4AAAA5;
    border-top-style: solid;
    color: #6B737B;
}