/* Teal color #4AAAA5 */
/* Nav text color #979798 */
/* Nav text darker color #737374 */


/* All Pages Formatting */
body {
    background-image: url("./images/backgroundimg.jpg");
    background-position: top left;
    background-repeat: repeat-x repeat-y;
}
h1 {
    color: #4AAAA5;
}
h2 {
    font-family: 'Sacramento', cursive;
}
footer {
opacity: .5;
text-align: center;
}
#navbar-name {
    font-family: 'Homemade Apple', cursive;;
    font-size: 2em;
    font-weight: 600;
    color: #4AAAA5;
}
/* Formatting for About/Index Page */
.social-links {
    color: #4AAAA5;
}
#profile-pic {
    float: left;
    max-width: 15em;
}
/* Formatting for Contact Page */
.btn {
    background-color: #4aaaa5;
    border-color: #4aaaa5;
    border-radius: 0;
}
.btn:hover {
    color: #4aaaa5;
    background-color: white;
}
.hidden {
    visibility: hidden;
}

/* Formatting for Portfolio Page */
a {
    color: #1b7772;
}
.portfolio-image {
    max-width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 2em;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: lightgrey;
  }
.hover {
    position: relative;
}

.hover:hover .overlay {
    opacity: .98;
  }
  .text {
    color: black;
    font-size: 1em;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  @media only screen and (max-width: 550px) {
      .text {
          font-size: .75em;
      }
  }