/* Teal color #4AAAA5 */
/* Nav text color #979798 */
/* Nav text darker color #737374 */
/* Footer color #666666 */
/* Footer text color #6B737B */


/* All Pages Formatting */
body {
    background-image: url("./images/backgroundimg.jpg");
    background-position: top left;
    background-repeat: repeat-x repeat-y;
}
#navbar-name {
    font-family: 'Homemade Apple', cursive;;
    font-size: 2em;
    font-weight: 600;
    color: #4AAAA5;
}

h1 {
    color: #4AAAA5;
}
h2 {
    font-family: 'Sacramento', cursive;
}
footer {
opacity: .5;
text-align: center;
}

/* Formatting for About/Index Page */
#profile-pic {
    float: left;
    max-width: 15em;
}

.social-links {
    color: #4AAAA5;
}

/* Formatting for Contact Page */
.btn {
    background-color: #4aaaa5;
    border-color: #4aaaa5;
    border-radius: 0;
}
.btn:hover {
    color: #4aaaa5;
    background-color: white;
}

/* Formatting for Portfolio Page */
.portfolio-image {
    max-width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 2em;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
.hover {
    position: relative;
}

.hover:hover .overlay {
    opacity: 1;
  }
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }